body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #444;
}

header {
    padding: 10px 0;
    text-align: center;
    background-color: #0e274a;
    width: 100%;
    border-bottom: 1px solid #0e274a;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
    position: relative; /* Pour permettre le positionnement du sous-menu */
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Couleur de texte en blanc */
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Poids de police normal */
    font-size: 16px;
}

/* Effet au survol des liens */
nav ul li a:hover {
    color: #007bff; /* Couleur de survol */
}

/* Styles pour le sous-menu */
.dropdown-menu {
    display: none; /* Masquer le sous-menu par défaut */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0e274a;
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 200px;
    border: 1px solid #0e274a; /* Ajouter une bordure */
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    color: #fff; /* Couleur de texte du sous-menu */
    display: block;
}

.dropdown-menu li a:hover {
    color: #007bff; /* Couleur de survol du sous-menu */
}

/* Afficher le sous-menu au survol */
.dropdown:hover .dropdown-menu {
    display: block;
}


.custom-footer {
    text-align: center;
    padding: 10px 0;
    background-color: #0e274a; /* Couleur de fond pour le footer */
    color: #fff; /* Couleur du texte dans le footer */
    position: absolute;
    bottom: 10;
    width: 100%;

}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.footer-nav-item {
    margin: 0 10px;
}

.footer-nav-link {
    color: #fff;
    text-decoration: none;
}

.footer-nav-link:hover {
    text-decoration: underline;
}

button {
    background-color: #fff;
    border: 1px solid #222;
    color: #ccc;
    padding: 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 300px;
    text-align: center;
}

button:hover {
    border: 2px solid #8a2be2;
    color: white;
}
.counters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #333; /* Couleur de fond pour la section des compteurs */
}

.counter {
    text-align: center;
    padding: 20px;
    background-color: #222; /* Couleur de fond spécifique pour chaque compteur */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 200px;
}

.counter img {
    width: 50px;
    height: 50px;
}

.counter-value {
    font-size: 2em;
    font-weight: bold;
    color: #FFF;
    margin: 10px 0;
}

.counter p {
    margin: 0;
    color: #FFF;
}

/* Section Carte Styles */
.map-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #202020; /* Couleur de fond noire pour correspondre au reste de la page */
}

.map-section iframe {
    border: 2px solid #1e90ff; /* Bordure bleue autour de l'iframe */
    border-radius: 10px; /* Coins arrondis pour l'iframe */
}

